@charset "UTF-8";
/* CSS Document */

.webpage {
		display: grid;
  grid-template-areas:
    'header header header header header header'
    'pic pic pic pic pic pic'
	'main main main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
	background-color: #b5c9d5;
	}
	.webpage > div {
		background-color:#f2e9d8;	
	}
	.Header {
		grid-area: 1 / 2 / 2 / 6;
		text-align: center;
		font-family: 'Cookie', cursive;
		padding: 20px;
		font-size: 40px
		}
	.Pic {
		grid-area: 2 / 2 / 4 / 4;
		padding: 10px;
		text-align: center;
	}
	.Main {
		grid-area:  2 / 4 / 4/ 6;
		font-family: 'Patrick Hand', cursive;
		text-align: center
		}
	.Footer {
		grid-area: 5 / 2 / 6 / 6;
		text-align: center;
		font-family: 'Cookie', cursive;
		font-size: 40px
	}
ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		text-align: center;
		background-color: #0d4e85;
	}
li {
	float: left;
}
	li a {
		display: inline;
		color: white;
		text-align: center;
		padding: 37px;
		text-decoration: none;
	}
	li a:hover {background-color: #d9d1ba;}